body {
    background: #E5E5E5;
    font-family: Raleway;
}

#keyboard{
    width:375px;
    margin-top:399.5px;
    position:absolute;
}

#iphone{
    background-color: rgba(255, 255, 255, 1);
    width: 375px;
    height: 691px;
    position: absolute;
}

#banner {
    width: 343px;
    height: 52px;
    position: absolute;
    left: 16px;
    top: 0px;
}

#screen{
    width: 375px;
    height: 583px;
    position: absolute;
    left: 0px;
    top: 22px;
}

#icon{ 
    font-size: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transform:translate(4px, 6px);
  }
#title{
    color: #c2747e;;width: 241px;
    height: 32px;
    position: absolute;
    left: 61px;
    top: 10px;
    text-align: left;
    font-size: 24px;
    letter-spacing: -0.5;
}

#menu {
    width: 30px;
    height: 24px;
    position: absolute;
    left: 295px;
    top: 12px;
}

.sidenav {
    height: 630px; 
    width: 0; 
    position: absolute; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#tracker {
    height: 350px;
    margin-top: -205px;
    margin-left: 90px;
}

#next-period{
    margin-top:120px;
    margin-left:-200px;
    font-size: 16px;
    text-align: center;
}
#month{
    margin-top:-50px;
    font-size:18px;
    margin-bottom:55px;
    margin-left:143px;
}

#curr{
    font-size:18px;
    margin-bottom:-17px;
    letter-spacing:1px;
    display:inline-block;
    border-bottom:1.9px solid black;
    padding-bottom:1.5px;
    
}

#calendar{
    height:350px;
    margin-top:-150px;
}

#track {
    margin-top:-150px;
    margin-left:50px;
    height:300px;
}

.periodEntry .close {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 100px;
    font-weight:10px;
    color:white;
}

.periodEntry {
    background-color:#c48aa3;
    color: #653c4b;
    border-radius:30px;
    text-align:center;
    width:180px;
    height:240px;
    padding-top:30px;
    margin-left:100px;
    margin-top:85px;
    display: none;
    position: absolute;
    z-index: 9;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.periodEntry input[type=text], .form-container input[type=password] {
    border: none;
    background: #f1f1f1;
  }

input {
    margin-bottom:8px;
}