body {
    background: #E5E5E5;
    font-family: Raleway;
}

#keyboard{
    width:375px;
    position: relative;
    z-index: 2;
    top:-192px;
}

#iphone{
    background-color: rgba(255, 255, 255, 1);
    width: 375px;
    height: 691px;
    position: absolute;
}

#banner {
    width: 343px;
    height: 52px;
    position: absolute;
    left: 16px;
    top: 0px;
}

#screen{
    width: 375px;
    height: 583px;
    position: absolute;
    left: 0px;
    top: 22px;
}

#icon{ 
    font-size: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transform:translate(4px, 6px);
  }
#title{
    color: #c2747e;;
    width: 241px;
    height: 32px;
    position: absolute;
    left: 61px;
    top: 10px;
    text-align: left;
    font-size: 24px;
    letter-spacing: -0.5;
}

#menu {
    width: 30px;
    height: 24px;
    position: absolute;
    left: 295px;
    top: 12px;
}

.sidenav {
    height: 692px; 
    width: 0; 
    position: absolute; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#curr{
    color: #653c4b;
    font-weight: bolder;
    font-size: 25px;
    margin-left:30px;
    margin-top:75px;
}

#today{
    margin-left:30px;
    font-size:20px;
    color: #653c4b;
}

#calories{
    font-size:20px;
    color:black;
    margin-left:30px;
    margin-top:10px;
}


.foodEntry .close {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 100px;
    font-weight:10px;
    color:white;
}

.foodEntry {
    background-color: #ceb5c2;
    display: none;
    font-size:20px;
    border-radius:30px;
    text-align:center;
    width:180px;
    height:200px;;
    padding-top:40px;
    margin-left:75px;
    margin-top:-310px;
    padding-bottom:20px;
    position: absolute;
    z-index: 9;
    transform: translate(21px,-160px);
}

.waterEntry .close {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 100px;
    font-weight:10px;
    color:white;
}

.waterEntry {
    background-color: #ceb5c2;
    display: none;
    font-size:20px;
    border-radius:30px;
    text-align:center;
    width:180px;
    height:150px;;
    padding-top:40px;
    margin-left:75px;
    margin-top:-300px;
    padding-bottom:20px;
    position: absolute;
    z-index: 9;
    transform: translate(21px,-160px);
}

.medicationEntry .close {
    position: absolute;
    top: 0;
    right:20px;
    font-size: 36px;
    margin-left:10px;
    font-weight:10px;
    color:white;
}

.medicationEntry {
    background-color: #ceb5c2;
    display: none;
    font-size:20px;
    border-radius:30px;
    text-align:center;
    width:200px;
    height:200px;;
    padding-top:40px;
    margin-left:80px;
    margin-top:-310px;
    padding-bottom:20px;
    position: absolute;
    z-index: 9;
    transform: translate(21px,-180px);
}


input {
    margin-bottom:8px;
}

#Breakfast{
    margin-left:50px;
    margin-top:20px;
}

#plate {
    height: 150px;
    margin-top:-95px;
    margin-left: 190px;
    margin-bottom:30px;
}


table{
    text-align:center;
    font-size:18px;
    border-collapse: collapse;
    border-radius:10px;
}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

th{
    background-color: #c48aa3;
    color: #653c4b;
    padding:6px 20px 6px 6px;
}

td{
    padding:6px 20px 6px 6px;
    
    background-color: #ceb5c2;
    color: #653c4b;
    width:50%;
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .col {
    flex: 50%;
    padding: 10px;
  }