.503_1509 { 
	overflow:hidden;
}
.e503_1509 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:691px;
	position:absolute;
}
.e503_1512 { 
	width:375px;
	height:583px;
	position:absolute;
	left:0px;
	top:22px;
}
.e503_1513 { 
	width:343px;
	height:52px;
	position:absolute;
	left:16px;
	top:0px;
}
.e503_1575 { 
	width:45px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/the_lifesavers_redcross.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e503_1514 { 
	color:rgba(135.00000715255737, 128.0000075697899, 94.0000019967556, 1);
	width:241px;
	height:32px;
	position:absolute;
	left:61px;
	top:10px;
	font-family:Raleway;
	text-align:left;
	font-size:24px;
	letter-spacing:-0.5;
	line-height:px;
}
.e503_1576 { 
	width:25px;
	height:19px;
	position:absolute;
	left:318px;
	top:16.5px;
}
.e503_1577 { 
	background-color:rgba(0, 0, 0, 1);
	width:25px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e503_1578 { 
	background-color:rgba(0, 0, 0, 1);
	width:25px;
	height:5px;
	position:absolute;
	left:0px;
	top:14px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e503_1579 { 
	background-color:rgba(0, 0, 0, 1);
	width:25px;
	height:5px;
	position:absolute;
	left:0px;
	top:7px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e503_1603 { 
	width:343px;
	height:354.24591064453125px;
	position:absolute;
	left:16px;
	top:82px;
}
.e503_1604 { 
	width:343px;
	height:354.24591064453125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e503_1605 { 
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:0px;
	top:0px;
}
.e503_1606 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(237.0000010728836, 223.00000190734863, 179.000004529953, 1);
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei503_1606_47_0 { 
	color:rgba(255, 255, 255, 1);
	width:126.56721496582031px;
	height:26px;
	position:absolute;
	left:16px;
	top:24px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:-0.5;
	line-height:px;
}
.e503_1607 { 
	width:120.33114624023438px;
	height:100.0885238647461px;
	position:absolute;
	left:38.23606491088867px;
	top:64.10163879394531px;
	background-image:url(images/the_lifesavers_testicles.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.e503_1608 { 
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:184.4327850341797px;
	top:0px;
}
.e503_1609 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(176.00000470876694, 155.00000596046448, 113.00000086426735, 1);
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei503_1609_47_0 { 
	color:rgba(255, 255, 255, 1);
	width:126.56721496582031px;
	height:26px;
	position:absolute;
	left:16px;
	top:24px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:-0.5;
	line-height:px;
}
.e503_1610 { 
	width:120.33114624023438px;
	height:100.0885238647461px;
	position:absolute;
	left:28.11467933654785px;
	top:56.22950744628906px;
	background-image:url(images/the_lifesavers_electrocardiogram_icon.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.e503_1611 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(216.00000232458115, 204.00000303983688, 163.00000548362732, 1);
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:0px;
	top:185.557373046875px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei503_1611_47_0 { 
	color:rgba(255, 255, 255, 1);
	width:126.56721496582031px;
	height:26px;
	position:absolute;
	left:16px;
	top:24px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:-0.5;
	line-height:px;
}
.e503_1612 { 
	width:101.2131118774414px;
	height:84.3442611694336px;
	position:absolute;
	left:47.2327880859375px;
	top:257.5311584472656px;
	background-image:url(images/lifesavers_small_intestine.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.e503_1613 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(135.00000715255737, 128.0000075697899, 94.0000019967556, 1);
	width:158.5672149658203px;
	height:168.6885223388672px;
	position:absolute;
	left:184.4327850341797px;
	top:185.557373046875px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei503_1613_47_0 { 
	color:rgba(255, 255, 255, 1);
	width:126.56721496582031px;
	height:26px;
	position:absolute;
	left:16px;
	top:24px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:-0.5;
	line-height:px;
}
.e503_1614 { 
	width:95.59016418457031px;
	height:79.84590148925781px;
	position:absolute;
	left:237.2885284423828px;
	top:262.0295104980469px;
	background-image:url(images/the_lifesavers_pills.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.e505_1320 { 
	color:rgba(135.00000715255737, 128.0000075697899, 94.0000019967556, 1);
	width:343px;
	height:109px;
	position:absolute;
	left:16px;
	top:466.24591064453125px;
	font-family:Raleway;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:-0.5;
}
.e504_1304 { 
	width:343px;
	height:32px;
	position:absolute;
	left:16px;
	top:605.2459106445312px;
}
.e505_1327 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:34px;
	position:absolute;
	left:0px;
	top:643px;
}
.ei505_1327_11_103 { 
	background-color:rgba(0, 0, 0, 1);
	width:134px;
	height:5px;
	position:absolute;
	left:121px;
	top:21px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
